<div class="chatbot-window">
  <div class="chatbot-window__container h-full w-full position-relative">
    <div
      class="chatbot-window__header mt-[41px] mx-[16px] flex justify-between items-center"
    >
      <h2>Smart coach</h2>
      <button>
        <img src="/chat-menu.png" alt="chat menu" srcset="" />
      </button>
    </div>
    <div class="chatbot-window__contentbox w-full h-[70%] my-5">
      <div class="chatbot-window__messages w-full h-full overflow-y-auto">
        <div class="message-wrapper ai-msg flex gap-2 mb-4 p-2">
          <div
            class="chat-pic-wrapper w-[36px] h-[36px] rounded-full overflow-hidden"
          >
            <img src="chat-ai-pic.jpg" alt="AI Pic" srcset="" class="w-full" />
          </div>
          <div class="message-wrapper__content max-w-[230px] break-all">
            <span
              >Hello How Can I Assist You Todaycccccccccccccccccccccccccccccccc
              ?</span
            >
          </div>
        </div>

        <div
          class="message-wrapper human-msg flex flex-row-reverse gap-2 mb-4 p-2"
        >
          <div
            class="chat-pic-wrapper w-[36px] h-[36px] rounded-full overflow-hidden"
          >
            <img
              src="chat-human-pic.jpg"
              alt="AI Pic"
              srcset=""
              class="w-full"
            />
          </div>
          <div class="message-wrapper__content max-w-[230px] break-all">
            <span
              >Hello How Can I Assist You Todaycccccccccccccccccccccccccccccccc
              ?</span
            >
          </div>
        </div>
        <div
          class="message-wrapper human-msg flex flex-row-reverse gap-2 mb-4 p-2"
        >
          <div
            class="chat-pic-wrapper w-[36px] h-[36px] rounded-full overflow-hidden"
          >
            <img
              src="chat-human-pic.jpg"
              alt="AI Pic"
              srcset=""
              class="w-full"
            />
          </div>
          <div class="message-wrapper__content max-w-[230px] break-all">
            <span
              >Hello How Can I Assist You Todaycccccccccccccccccccccccccccccccc
              ?</span
            >
          </div>
        </div>
        <div
          class="message-wrapper human-msg flex flex-row-reverse gap-2 mb-4 p-2"
        >
          <div
            class="chat-pic-wrapper w-[36px] h-[36px] rounded-full overflow-hidden"
          >
            <img
              src="chat-human-pic.jpg"
              alt="AI Pic"
              srcset=""
              class="w-full"
            />
          </div>
          <div class="message-wrapper__content max-w-[230px] break-all">
            <span
              >Hello How Can I Assist You Todaycccccccccccccccccccccccccccccccc
              ?</span
            >
          </div>
        </div>
        <div
          class="message-wrapper human-msg flex flex-row-reverse gap-2 mb-4 p-2"
        >
          <div
            class="chat-pic-wrapper w-[36px] h-[36px] rounded-full overflow-hidden"
          >
            <img
              src="chat-human-pic.jpg"
              alt="AI Pic"
              srcset=""
              class="w-full"
            />
          </div>
          <div class="message-wrapper__content max-w-[230px] break-all">
            <span
              >Hello How Can I Assist You Todaycccccccccccccccccccccccccccccccc
              ?</span
            >
          </div>
        </div>
        <div
          class="message-wrapper human-msg flex flex-row-reverse gap-2 mb-4 p-2"
        >
          <div
            class="chat-pic-wrapper w-[36px] h-[36px] rounded-full overflow-hidden"
          >
            <img
              src="chat-human-pic.jpg"
              alt="AI Pic"
              srcset=""
              class="w-full"
            />
          </div>
          <div class="message-wrapper__content max-w-[230px] break-all">
            <span
              >Hello How Can I Assist You Todaycccccccccccccccccccccccccccccccc
              ?</span
            >
          </div>
        </div>
      </div>
    </div>

    <div
      class="chatbot-window__text-area fixed bottom-[10px] left-[16px] right-[16px] w-full"
    >
      <app-chatbot-input />
    </div>
  </div>
</div>
