<div class="bg-FF4100">
    <div class="flex shrink-0  py-6 items-center horizon-scroll overflow-hidden">
        @for (item of horizon; track $index) {
            <ul aria-hidden="true" class="flex items-center shrink-0">
                <li><p class="text-[24px] font-bold text-white">{{ item | translate }}</p></li>
                <li class="mx-4"><img src="Vector.png" alt=""></li>
            </ul>
            <!-- <div>
                <p class="text-[24px] font-bold text-white">{{item}}</p>
            </div>
            <div>
                <img src="Vector.png" alt="">
            </div> -->

        }
        <!-- <div>
            <p class="text-[24px] font-bold text-white">personal training</p>
        </div>
        <div>
            <img src="Vector.png" alt="">
        </div>
        <div>
            <p class="text-[24px] font-bold text-white">live classes</p>
        </div>
        <div>
            <img src="Vector.png" alt="">
        </div>
        <div>
            <p class="text-[24px] font-bold text-white">personal trainers</p>
        </div>
        <div>
            <img src="Vector.png" alt="">
        </div>
        <div>
            <p class="text-[24px] font-bold text-white">outdoor & online trainers</p>
        </div>
        <div>
            <img src="Vector.png" alt="">
        </div>
        <div>
            <p class="text-[24px] font-bold text-white">personal training</p>
        </div>
        <div>
            <img src="Vector.png" alt="">
        </div>
        <div>
            <p class="text-[24px] font-bold text-white">live classes</p>
        </div>
        <div>
            <img src="Vector.png" alt="">
        </div> -->
        
    </div>

</div>
