
<div class="mx-auto">
    <div class="flex gap-[117px]">
        <div>
            <h1 class="text-[64px] font-bold color-242424 uppercase">Your body can <span class="color-FF4100">stand</span> </h1>
            <h2 class="color-FF4100 text-[64px] font-bold uppercase"><span class="color-242424">Almost</span> anything</h2>
            <div class="text-[18px] font-normal color-242424 mt-8 flex">
                <div class="w-[4px] h-[97px] bg-FF4100"></div>
                <div class="ps-4 pt-2">
                    <p>It's your mind that needs convincing. Push past your limits, stay </p>
                    <p>committed, and watch as your body transform into powerhouse of </p>
                    <p>strength and resilience. Start your journey today & truly capable of! </p>
                </div>
            </div>

            <div class="flex gap-10 mt-[64px]">
                <div>
                    <h3 class="text-[22px] color-242424 font-bold">1200+</h3>
                    <p class="text-[18px] color-242424 font-normal">Active Members</p>
                </div>
                <div>
                    <h3 class="text-[22px] color-242424 font-bold">12+</h3>
                    <p class="text-[18px] color-242424 font-normal">Certified Trainers</p>
                </div>
                <div>
                    <h3 class="text-[22px] color-242424 font-bold">20+</h3>
                    <p class="text-[18px] color-242424 font-normal">Year Of Experience</p>
                </div>
                
            </div>
            <div class="mt-[64px] flex gap-[64px]">
                <div class="relative flex cursor-pointer ">
                    <button class="bg-FF4100 rounded-full text-white py-[12px] px-[30px] text-base font-semibold cursor-pointer">Get Started</button>
                    <div class="w-[35px] h-[35px] rounded-full bg-FF4100 flex items-center justify-center border-3 border-white absolute -right-4 top-2">
                        <img src="arrow.png" alt="">
                    </div>

                </div>
                <div class="relative flex cursor-pointer">
                    <button class="bg-transparent border-2 border-FF4100 color-FF4100  rounded-full text-white py-[12px] px-[30px] text-base font-semibold cursor-pointer">Explore More</button>
                    <div class="w-[35px] h-[35px] rounded-full bg-FF4100 flex items-center justify-center border-3 border-white absolute -right-4 top-2">
                        <img src="arrow.png" alt="">
                    </div>

                </div>
            </div>

        </div>
        <div class=" ">
            <img src="man.png" class="md:w-[467px] md:h-[719px]" alt="">
        </div>
        
    </div>
</div>
