
<div class="mt-[64px] flex">
    <div class="md:w-[60%]">
        <div class="relative">
                <img src="Whyus.png" alt="">
                <div class="flex absolute bottom-[0.5px]">
                    <img src="weight.png" class="ps-2" alt="">
                    <p class="ps-4 color-FF4100">Why us</p>
                </div>
            </div>
            <div class="mt-12">
                <div>
                    <h2 class="color-242424 text-[40px] font-bold uppercase">Elevate fitness with the</h2>
                    <h2 class="text-[40px] font-bold color-FF4100 uppercase">best way <span class="color-242424">possible</span></h2>
                    <p class="color-242424 text-[18px] font-normal pt-8 pe-[38px]">We offer a fitness journey that's tailored to your goals,
                         supported by professional trainers and a welcoming community.
                         Whether it's weight loss, strength building, or overall wellness, our proven methods.</p>
                </div>
                <div class="mt-[64px]">
                    <div class="flex items-center">
                        <div class="w-[60px] h-[60px] bg-FF4100 rounded-full flex items-center justify-center">
                            <p class="text-white text-[11px]">01</p>
                        </div>
                        <div class="ps-8">
                            <h4 class="text-[16.4px] font-bold capitalize">personalized fitness plans</h4>
                            <p class="py-2">We tailor every workout to fit your unique goals and fitness level ensuring</p>
                            <p>that you make the most progress.</p>
                        </div>
                    </div>
                    <div class="flex items-center my-[32px]">
                        <div class="w-[60px] h-[60px] bg-FF4100 rounded-full flex items-center justify-center">
                            <p class="text-white text-[11px]">02</p>
                        </div>
                        <div class="ps-8">
                            <h4 class="text-[16.4px] font-bold capitalize">results-driven focus</h4>
                            <p class="py-2">Everything we do is designed to help you achieve measurable results, </p>
                            <p>whether you're aiming for weight loss.</p>
                        </div>
                    </div>
                    <div class="flex items-center">
                        <div class="w-[60px] h-[60px] bg-FF4100 rounded-full flex items-center justify-center">
                            <p class="text-white text-[11px]">03</p>
                        </div>
                        <div class="ps-8">
                            <h4 class="text-[16.4px] font-bold capitalize">state-of-the-art equipment</h4>
                            <p class="py-2">We provide the latest in gym equipment, from cardio machines to free </p>
                            <p>weights, designed to support every type.</p>
                        </div>
                    </div>
                    
                </div>
                
                
                
                
            </div>

    </div>
    <div class="md:w-[40%]">
        <div class="flex">
            <div>
                <img src="gm4.png" class="w-[291px] h-[378px] object-cover rounded-xl mb-2" alt="">
                <img src="gm6.jpg" class="w-[291px] h-[344px] object-cover rounded-xl" alt="">
            </div>
            <div class="ms-2 mt-[75px]">
                <img src="gm5.jpg" class="w-[303px] h-[285px] object-cover rounded-xl mb-2" alt="">
                <img src="gm7.png" class="w-[303px] h-[346px] object-cover rounded-xl" alt="">
            </div>
        </div>
        

        
    </div>
</div>
