<div class="flex relative mt-[40px]">
    <div class="w-[50%] mt-5">
        <div class="flex ">
            <div class=" absolute">
                <img src="gm1.png" class="w-[358px] h-[542px] object-cover rounded-xl" alt="">
            </div>
            <div class="top-[80px] left-[375px] absolute">
                <img src="gm3.png" class="w-[222px] h-[188px] object-cover rounded-xl" alt="">
            </div>

        </div>
        <div class="absolute bottom-50 top-[300px] left-[250px] ">
            <img src="gm2.png" class="w-[353px] h-[452px] object-cover rounded-xl " alt="">
        </div>
        
    </div>
    <div class="w-[50%] ">
      
        <div>
            <div class="relative">
                <img src="workouts.png" alt="">
                <div class="flex absolute bottom-[0.5px]">
                    <img src="weight.png" class="ps-2" alt="">
                    <p class="ps-4 color-FF4100">about us</p>
                </div>
            </div>
            <div class="mt-12">
                <div>
                    <h2 class="color-242424 text-[40px] font-bold">EMPOWERING YOU TO ACHIEVE</h2>
                    <h2 class="text-[40px] font-bold color-FF4100">YOUR FITNESS <span class="color-242424">GOALS</span></h2>
                    <p class="color-242424 text-[18px] font-normal pt-8">We believe fitness is more than just a workout—it's a lifestyle. With top-of- the-line facilities, certified trainers, and a supportive community, we're here to inspire and guide you every step of the way.</p>
                </div>
                <div class="flex border-b-1 mt-[64px] justify-between pb-[64px]">
                    <div class="">
                        <div class="flex items-center pb-4">
                            <img src="arrow2.png" alt="">
                            <h4 class="color-242424 text-[16.4px] font-bold ps-[16px] ">Personal Trainer</h4>
                        </div>
                        <p class="color-242424 text-[18px] font-normal ">Achieve your fitness goals with the </p>
                        <p class="color-242424 text-[18px] font-normal ">guidance of our certified trainers. </p>
                    </div>
                    <div>
                        <div class="flex items-center pb-4">
                            <img src="arrow2.png" alt="">
                            <h4 class="color-242424 text-[16.4px] font-bold ps-[16px] ">Cardio Programs</h4>
                        </div>
                        <p class="color-242424 text-[18px] font-normal ">From steady-state runs to interval  </p>
                        <p class="color-242424 text-[18px] font-normal ">sprints, our treadmill programs. </p>
                    </div>
                </div>
                <div class="flex justify-between pt-[50px]">
                    <div>
                        <div class="flex  items-center pb-4">
                            <img src="arrow2.png" alt="">
                            <h4 class="color-242424 text-[16.4px] font-bold ps-[16px] ">Quality Equipment</h4>
                        </div>
                        <p class="color-242424 text-[18px] font-normal ">Our gym is equipped with the  </p>
                        <p class="color-242424 text-[18px] font-normal ">latest cardio & strength machines. </p>
                    </div>
                    <div>
                        <div class="flex  items-center pb-4">
                            <img src="arrow2.png" alt="">
                            <h4 class="color-242424 text-[16.4px] font-bold ps-[16px] ">Healthy Nutritions</h4>
                        </div>
                        <p class="color-242424 text-[18px] font-normal ">Fuel your fitness journey with </p>
                        <p class="color-242424 text-[18px] font-normal ">customized meal plans for you.</p>
                    </div>
                </div>
                
                <div class="relative flex cursor-pointer mt-8">
                    <button class="bg-FF4100 rounded-full text-white py-[12px] px-[30px] text-base font-semibold cursor-pointer">Get Started</button>
                    <div class="w-[35px] h-[35px] rounded-full bg-FF4100 flex items-center justify-center border-3 border-white absolute left-[120px] top-2">
                        <img src="arrow.png" alt="">
                    </div>

                </div>
            </div>
        </div>
    </div>
    
</div>
