<div class="mt-[40px] bg-F3F3F4 pt-[40px] pb-[80px]">
    <div class="flex justify-around">
        <div>
            <img src="logo.png" alt="">
            <p class="text-[18px] font-normal color-242424 mt-2">Push harder, go further. Your </p>
            <p class="text-[18px] font-normal color-242424">fitness journey starts today!</p>
        </div>
        <div>
            <h4 class="text-[18px] font-bold color-242424 uppercase pb-8">contact us</h4>
            <div class="flex items-center">
                <div class="w-[40px] h-[40px] flex items-center justify-center border-1 rounded-full ">
                    <img src="tele.png" alt="">
                </div>
                <p class="text-[18px] font-normal color-242424 ps-4">+91 123 456 789 </p>
            </div>
            <div class="flex items-center mt-2">
                <div class="w-[40px] h-[40px] flex items-center justify-center border-1 rounded-full ">
                    <img src="inbox.png" alt="">
                </div>
                <p class="text-[18px] font-normal color-242424 ps-4">infogmail.com</p>
            </div>
        </div>
        <div>
            <h4 class="text-[18px] font-bold color-242424 uppercase">our gym timing</h4>
            <div class="mt-8">
                <p class="text-[18px] font-normal color-242424">Mon - Fri : 08:00 AM - 10:00 PM</p>
                <p class="text-[18px] font-normal color-242424">Sat - Sun : 08:00 AM - 09:00 PM</p>
            </div>
        </div>
        <div>
            <h4 class="text-[18px] font-bold color-242424 uppercase">our location</h4>
            <div class="mt-8">
                <p class="text-[18px] font-normal color-242424">2715 Ash Dr. San Jose, South </p>
                <p class="text-[18px] font-normal color-242424">Dakota 83475</p>
            </div>
        </div>
        
    </div>
</div>
