<div class="mt-[40px]">
    <div class="flex justify-around">
        <div>
            <img src="logo.png" alt="">
            <p class="text-[18px] font-normal color-242424">Push harder, go further. Your </p>
            <p class="text-[18px] font-normal color-242424">fitness journey starts today!</p>
        </div>
        <div>
            <h4 class="text-[18px] font-bold color-242424 uppercase">contact us</h4>
            <div>
                <img src="tele.png" alt="">
                <p class="text-[18px] font-normal color-242424">Push harder, go further. Your </p>
            </div>
            <div>
                <img src="inbox.png" alt="">
                <p class="text-[18px] font-normal color-242424">fitness journey starts today!</p>
            </div>
        </div>
        <div>
            <h4 class="text-[18px] font-bold color-242424 uppercase">our gym timing</h4>
            <div>
                <p class="text-[18px] font-normal color-242424">Mon - Fri : 08:00 AM - 10:00 PM</p>
                <p class="text-[18px] font-normal color-242424">Sat - Sun : 08:00 AM - 09:00 PM</p>
            </div>
        </div>
        <div>
            <h4 class="text-[18px] font-bold color-242424 uppercase">our location</h4>
            <div>
                <p class="text-[18px] font-normal color-242424">2715 Ash Dr. San Jose, South </p>
                <p class="text-[18px] font-normal color-242424">Dakota 83475</p>
            </div>
        </div>
        
    </div>
</div>
