<!-- Hero Section -->
<app-hero></app-hero>

<!-- About & Why Us Section -->
<section
  class="max-w-screen-xl mx-auto px-6 md:px-12 lg:px-0 py-12 md:py-16 lg:py-20"
>
  <app-about-us></app-about-us>
  <div class="mt-8 md:mt-12 lg:mt-16">
    <app-why-us></app-why-us>
  </div>
</section>
<app-custom-slider />
<!-- Empty Gray Section -->
<section class="bg-F3F3F4">
  <div
    class="max-w-screen-xl mx-auto px-6 md:px-12 lg:px-0 py-12 md:py-16 lg:py-20"
  >
    <!-- محتوى إضافي هنا -->
  </div>
</section>

<app-chatbot-floating />
