<div class="main-page w-full h-screen mx-auto main-bg main-bg2">
  <!-- <div class="overlay"></div> -->
  <div class="z-10">
    <app-navbar></app-navbar>
    <div class="max-w-screen-xl mx-auto mt-[104px]">
      <app-home></app-home>
    </div>
  </div>

  <app-horizonbar></app-horizonbar>
</div>
<div class="max-w-screen-xl mx-auto bg-FFFF2">
  <app-about-us />
  <app-why-us></app-why-us>
</div>

<div class="bg-F3F3F4">
  <div class="max-w-screen-xl mx-auto">
    <app-footer></app-footer>
  </div>
</div>
<app-chatbot-floating />
