<div class="register-container">
  <form [formGroup]="form" (ngSubmit)="isLastStep() ? submit() : next()">
    <div class="step-wrapper">
      <ng-container [ngSwitch]="currentStep" class="my-5">
        <!-- Step 0: Account -->
        <app-account-form
          *ngSwitchCase="0"
          [form]="form"
          (nextStep)="next()"
          (submitForm)="submit()"
        ></app-account-form>

        <!-- Step 1: Gender -->
        <app-gender *ngSwitchCase="1" [form]="form"></app-gender>

        <!-- Step 2: Age -->
        <app-age
          *ngSwitchCase="2"
          [form]="form"
          [ages]="ages"
          [selectedAgeIndex]="selectedAgeIndex"
          [positionClassAge]="positionClassAge.bind(this)"
          [onPickAge]="onPickAge.bind(this)"
        ></app-age>

        <!-- Step 3: Weight -->
        <app-weight
          *ngSwitchCase="3"
          [form]="form"
          [weights]="weights"
          [selectedWeightIndex]="selectedWeightIndex"
          [positionClassWeight]="positionClassWeight.bind(this)"
          [onPickWeight]="onPickWeight.bind(this)"
        ></app-weight>

        <!-- Step 4: Height -->
        <app-height
          *ngSwitchCase="4"
          [form]="form"
          [heights]="heights"
          [selectedHeightIndex]="selectedHeightIndex"
          [positionClassHeight]="positionClassHeight.bind(this)"
          [onPickHeight]="onPickHeight.bind(this)"
        ></app-height>

        <!-- Step 5: Goal -->
        <app-goal *ngSwitchCase="5" [form]="form"></app-goal>

        <!-- Step 6: Activity Level -->
        <app-activity-level
          *ngSwitchCase="6"
          [form]="form"
        ></app-activity-level>
      </ng-container>
    </div>

    <!-- Actions -->
    <div class="actions">
      <button
        type="button"
        class="btn next-btn"
        (click)="prev()"
        [disabled]="isFirstStep()"
      >
        Back
      </button>
      <button
        type="submit"
        class="btn next-btn"
        [disabled]="loading || !formStepValid()"
      >
        {{ isLastStep() ? 'Submit' : 'Next' }}
      </button>
    </div>

    <div *ngIf="errorMessage" class="error">{{ errorMessage }}</div>
  </form>
</div>
