<div class="card-container overflow-hidden">
  <div class="card-wrapper w-full h-full">
    <div
      [style.background-image]="'url(' + '\'' + cardImg() + '\'' + ')'"
      class="w-full h-full card-img"
    ></div>
    <div class="card-footer">
      <p class="card-footer__title uppercase px-[16px] pt-[16px] pb-[8px]">
        {{ cardTitle() }}
      </p>

      <div
        (click)="readMore()"
        class="card-footer__readMore flex items-center capitalize pl-[16px] pb-[8px]"
      >
        <p class="card-footer__readMore__text">read more</p>

        <svg
          width="34"
          height="34"
          viewBox="0 0 34 34"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <rect
            y="17"
            width="24"
            height="24"
            rx="12"
            transform="rotate(-45 0 17)"
            fill="#FF4100"
          />
          <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M19.3463 13.9455C18.5189 14.773 17.0108 14.7733 16.183 13.9455L15.8436 13.6061L15.1648 14.2849L15.5042 14.6243C16.1063 15.2264 16.9352 15.5272 17.7643 15.5275L13.5763 19.7155L14.2552 20.3943L18.4432 16.2063C18.4435 17.0355 18.7442 17.8644 19.3463 18.4665L19.6857 18.8059L20.3646 18.1271L20.0252 17.7876C19.1973 16.9598 19.1977 15.4518 20.0252 14.6243L20.3646 14.2849L19.6857 13.6061L19.3463 13.9455Z"
            fill="#171E2E"
          />
        </svg>
      </div>
    </div>
  </div>
</div>
